@font-face {
    font-family: 'Castledown';
    src: url('./fonts/Castledown.eot');
    src: url('./fonts/Castledown.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Castledown.woff2') format('woff2'),
        url('./fonts/Castledown.woff') format('woff'),
        url('./fonts/Castledown.ttf') format('truetype'),
        url('./fonts/Castledown.svg#Castledown') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
  text-align: center;
  font-size: 25px;
  font-family: 'Castledown';
}

.content-block--contain {
  background: #efe9e1;
  max-width: 320px;
  margin: 2% auto;
  position: relative;
  padding: 2%;
}

/* Questions */
.question-container {
  background: #f16f3b;
  padding: 3% 5%;
  height: 131px;
}

.questionCount h3 {
  color: #49474a;
  margin: 0;
  font-size: 24px;
}

.question {
  color: #fdfffe;
  width: 80%;
  margin: 15px auto 0;
}

/* Answers */
.answerOptions {
  padding-left: 0;
  margin-bottom: 0;
}

.answerOption {
  list-style: none;
  margin: 20px 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.answerOption:last-child {
  margin-bottom: 0;
}

.answerOption input[type='radio'] {
  height: 100%;
  width: 100%;
  appearance: none;
  border: none;
  cursor: pointer;
}
.answerOption input[type='radio']:focus {
  outline: none;
}

.radioCustomLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
  color: #efe9e1;
  display: block;
  width: 60%;
  text-align: left;
  cursor: pointer;
  pointer-events: none;
}

@media only screen and (max-width: 450px) {
  .radioCustomLabel {
    font-size: 6vw;
  }
}

.answerImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 100%;
  height: 100px;
  pointer-events: none;
}

.answerOption h2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
  color: #f16f3b;
  margin: 0;
  font-size: 45px;
  cursor: pointer;
}

/* Results Page */
.resultsPage {
  display: block;
  position: relative;
}

.resultImage {
  display: block;
  width: 100%;
  height: auto;
}

.resultText {
  margin: 30px auto 40px;
  font-size: 18px;
  width: 80%;
}

.resultsButton {
  background: #f16f3b;
  color: #efe9e1;
  width: 60%;
  display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-family: inherit;
  font-size: 16px; 
  text-decoration: none;
	cursor: pointer;
	border: none;
	margin: 0 0 10px;
	padding-top:    0;
	padding-bottom: 0;
	line-height: 2.5;
	height:      2.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	overflow: visible;
	text-align: center;
}